body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contanier{
    border: 1px solid black;
    width: 1000px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 600px;
}