body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.contanier-cadastro{
    border: 1px solid rgba(185, 185, 185, 0.781);
    border-radius: 20px;
    width: 1200px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.contanier-cadastro h1{
    text-align: center;
}

.btn-primary{
    margin-top: 10%;
    width: 100%;
}

.inputs-cad-prod{
    margin: 40px;
}