body{
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    width: auto;
    height: 140px;
    background-color: rgb(34, 34, 34);
}

header nav{
    display: flex;
    align-items: center;
}

.logo-content{
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-left: 10%;
}

.logo{
    width: 100px;
    height: 100px;
}

.logo-sing{
    width: 100px;
    height: 100px;
}

.input-contanier{
    display: flex;
    margin-left: 5%;
    width: 30%;
}

.input-content{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    transition: .5s;
    color: #fff;
}

.input-content.ativar{
    width: 300px;
    background-color: #fff;
    color: black;
}

.input-style{
    position: absolute;
    left: 60px;
    width: calc(100% - 120px);
    height: 100%;
}

.input-style input{
    line-height: 38px;
    border: none;
    outline: none;
    font-size: 16px;
}

.btn-search{
    min-width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}

.btn-close{
    min-width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}

.icons-content{
    display: flex;
    justify-content: right;
    margin-right: 2%;
    gap: 30px;
}

.icon-btn{
    background: none;
    border: none;
    cursor: pointer;    
    color: white;
}

.icon-btn i{
    font-size: 35px;
    transition: .5s;
}

.icon-btn i:hover{
    color: rgb(0, 79, 182);
}

.categorias{
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    background-color:  rgb(54, 54, 54);
}

.menu{
    display: flex;
    text-align: center;
    gap: 20px;
}

.menu-links{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.menu-links::after{
    content:  " ";
    width: 0%;
    height: 3px;
    background-color: rgb(0, 79, 182);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.menu-links:hover::after{
    width: 100%;
}

.dropdown{
    width: 18%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}