body{
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    width: auto;
    height: 140px;
    background-color: rgb(34, 34, 34);
}

header nav{
    display: flex;
    align-items: center;
}

.logo-content{
    width: 20%;
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.logo{
    width: 100px;
    height: 100px;
}

.logo-sing{
    width: 100px;
    height: 100px;
}

.input-content{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
    transition: .5s;
}

.input-content.ativar{
    width: 300px;
}

.input-style{
    position: absolute;
    left: 60px;
    width: calc(100% - 120px);
    height: 100%;
}

.input-style input{
    line-height: 38px;
    border: none;
    outline: none;
    font-size: 16px;
}

.btn-search{
    min-width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}

.btn-close{
    min-width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}

.icons-content{
    display: flex;
    justify-content: right;
}

.icon{
    width: 40px;
    height: 40px;
    margin-right: 10%;
}

.categorias{
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    background-color:  rgb(54, 54, 54);
}
